/*
* created in 27, june 2016
* author: Tiago Zimmermann <tiago.zimmermann@opens.com.br>;
*/

.header_table_info{
	background-color: #f26c45;
	color: #fff;
}

.header_table{
	color: #f26c45;
}

.header_parcial{
	background-color: #F49B7F;
	color: #fff;
}

.bold{
	font-weight: bold;
	color: #313032;
}
