<?php
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/bootstrap-datetimepicker.css" );
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/bootstrap.min.css" );
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/bootstrap-select.css" );
$this->headLink()->appendStylesheet( $this->baseUrl() . "/modules/snep-q-manager/css/style.css" );
?>
<script src="/snep/includes/javascript/moment-with-locales.min.js" type="text/javascript" ></script>
<script src="/snep/includes/javascript/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/bootstrap-select.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div class="row">
    <div class="tab-content">
        <div class="tab-pane active" id="demo">
            <?php if($this->key){ ?>
                <div class="snep-body-top-buttons">
                    <div class="snep-body-search">
                        <?php if($this->key){
                            echo "";
                            ?>
                            <a class='sn-dash-add' href="<?php echo $this->baseUrl ?>/default/index/index?dashboard_add=<?php echo $this->key ?>" title="<?php echo $this->translate('Add to dashboard');?>"></a>
                        <?php } ?>
                    </div>
                </div>
            <?php } ?>
        </div>
    </div>

    <form role="form" class="form-horizontal" id="defaultForm" action="<?php echo $this->url(array("module" => "snep-q-manager", "controller" => "dac", "action" => "index"), null, true); ?>" METHOD="post">

    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h3 class="panel-title"><?php echo $this->translate("Filters");?></h3>
        </div>
        <div class="panel-body">
            <div class="form-group">

                <div class="col-sm-3">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="sn-etiqueta"></span><?php echo $this->translate(" Period");?></span>
                        <select class="form-control" name="period" id="period" onChange="showPeriod(this.value);">
                            <option value="today" <?php echo $this->today;?> ><?php echo $this->translate("Today");?></option>
                            <option value="last7days" <?php echo $this->last7days;?> ><?php echo $this->translate("Last 7 days");?></option>
                            <option value="last15days" <?php echo $this->last15days;?> ><?php echo $this->translate("Last 15 days");?></option>
                            <option value="last30days" <?php echo $this->last30days;?> ><?php echo $this->translate("Last 30 days");?></option>
                            <option value="rangedate" <?php echo $this->rangedate;?> ><?php echo $this->translate("Specific date");?></option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="sn-parametros"></span><?php echo $this->translate(" Type");?></span>
                        <select class="form-control" name="type" id="type" onChange="showDiv(this.value);">
                            <option value="syntetic" <?php echo $this->syntetic;?>><?php echo $this->translate("Synthetic");?></option>
                            <option value="analytic" <?php echo $this->analytic;?>><?php echo $this->translate("Analytical");?></option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="sn-grupo-filas">
                            <select name="option" id="option" onChange="showOption(this.value);">
                                <option value="queue" <?php echo $this->queue;?> ><?php echo $this->translate("Queue");?></option>
                                <option value="group" <?php echo $this->group;?> ><?php echo $this->translate("Group");?></option>
                            </select>
                        </span></span>

                        <div id="queue" class="<?php echo $this->classQueue ?>">
                            <select class="form-control selectpicker" multiple name="queues[]" id="queues[]" data-max-options="2">
                            <?php foreach($this->queues as $key => $queue){ ?>
                                    <?php if(isset($queue['selected'])){ ?>
                                        <option value='<?php echo $queue['id']?>' selected><?php echo $queue['name'];?></option>
                                    <?php }else{ ?>
                                        <option value='<?php echo $queue['id']?>'><?php echo $queue['name'];?></option>
                                    <?php }?>
                                <?php }?>
                            </select>
                        </div>

                        <div id="group" class="selectpicker <?php echo $this->classGroup ?>">
                            <select class="form-control selectpicker" name="groups[]" id="groups[]">
                                <?php foreach($this->groups as $key => $group){?>
                                    <?php if(isset($group['selected'])){ ?>
                                        <option value='<?php echo $group['id']?>' selected><?php echo $group['name'];?></option>
                                    <?php }else{ ?>
                                        <option value='<?php echo $group['id']?>'><?php echo $group['name'];?></option>
                                    <?php } ?>
                                <?php } ?>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="input-group">
                        <button type="submit" class="btn btn-add" name="showreport" value="showreport"><?php echo $this->translate("View Data");?></button>
                    </div>
                </div>

            </div>

            <div class="form-group">

                <!-- forms invisible -->
                <div id="rangedate" class="<?php echo $this->classRangeDate ?>">

                    <div class="col-sm-3">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span><?php echo $this->translate(" Initial Date");?></span>
                            <div class='input-group'>
                                <input type='text' class="snep-datetimepicker form-control" id='from' name="from" placeholder="<?php echo $this->translate("Initial Date");?>" value="<?php echo $this->from; ?>" />
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span><?php echo $this->translate(" Final Date");?></span>
                            <div class='input-group'>
                                <input type='text' class="snep-datetimepicker form-control" id='to' name="to" placeholder="<?php echo $this->translate("Final Date");?>" value="<?php echo $this->to; ?>"/>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- forms invisible -->
                <div id="analytic" class="<?php echo $this->classSrc; ?>">
                    <div class="col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span><?php echo $this->translate(" Number of origin");?></span>
                            <div class='input-group'>
                                <input type='text' class="snep-datetimepicker form-control" id='src' name="src" placeholder="<?php echo $this->translate("Optional");?>" value="<?php echo $this->src; ?>"/>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>


    <!-- report data -->
    <?php if(isset($this->data)):?>
        <!-- syntetic type -->
        <?php if($this->type == 'syntetic'){?>
            <ul class="nav nav-tabs nav-justified">

                <?php foreach($this->data as $queue => $data): ?>
                    <?php if($queue == $this->queueInit){ ?>
                        <li class="active"><a data-toggle="tab" href="#<?php echo $queue; ?>"><?php echo $queue; ?></a></li>
                    <?php }else{ ?>
                        <li><a data-toggle="tab" href="#<?php echo $queue; ?>"><?php echo $queue; ?></a></li>
                    <?php } ?>
                <?php endforeach; ?>
            </ul>

            <div class="tab-content">
            <?php foreach($this->data as $queue => $data): ?>
                <?php if($queue == $this->queueInit){ ?>
                    <div id="<?php echo $queue; ?>" class="tab-pane fade in active">
                <?php }else{ ?>
                    <div id="<?php echo $queue; ?>" class="tab-pane fade">
                <?php } ?>
                    <br>

                <?php if(!$data){?>
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <?php echo $this->translate("No data from the queue at this time.") ?>
                        </div>
                    </div>
                <?php }else{ ?>

                    <div class="input-group pull-right">
                        <label class="btn btn-default glyphicon glyphicon-calendar" disabled>&nbsp;<?php echo $this->data_init ." - " .$this->data_end; ?></label>&nbsp;
                        <button type="submit" class="btn btn-default glyphicon glyphicon-export" name="showcsv" value="showcsv"><?php echo $this->translate(" Export to CSV");?></button>
                    </div>
                    <hr>

                    <table class="table table-bordered">
                    <thead>
                        <tr class="header_table_info">
                            <th colspan="4" class="text-center"><?php echo $this->translate("Totalizing") ?></th>
                            <th colspan="3" class="text-center"><?php echo $this->translate("Data of missed calls") ?></th>
                            <th colspan="3" class="text-center"><?php echo $this->translate("Average time") ?></th>
                        </tr>
                        <tr class="header_table">
                            <th class="text-center"><?php echo $this->translate("Total") ?></th>
                            <th class="text-center"><?php echo $this->translate("Answered") ?></th>
                            <th class="text-center"><?php echo $this->translate("Abandoned") ?></th>
                            <th class="text-center"><?php echo $this->translate("Limit time") ?></th>
                            <th class="text-center"><?php echo $this->translate("Transferred") ?></th>
                            <th class="text-center"><?php echo $this->translate("Off by Operator") ?></th>
                            <th class="text-center"><?php echo $this->translate("Off by Client") ?></th>
                            <th class="text-center"><?php echo $this->translate("TME") ?></th>
                            <th class="text-center"><?php echo $this->translate("TMA") ?></th>
                            <th class="text-center"><?php echo $this->translate("TMC") ?></th>
                        </tr>
                    </thead>
                    <?php $divTotal = (isset($data->total) ? $data->total : 1 ); ?>
                    <?php $divAnswered = (isset($data->answered) ? $data->answered : 1 ); ?>
                    <tbody>
                        <tr>
                            <td class="text-center"><label class="btn btn-add btn-lg"><?php echo $data->total;?></label></td>
                            <td class="text-center"><label class="btn btn-success btn-lg"><?php echo $data->answered;?> <span class="badge"><?php echo round(( $data->answered * 100 ) / $divTotal);?>%</span></label></td>
                            <td class="text-center"><label class="btn btn-warning btn-lg"><?php echo $data->abandon;?> <span class="badge"><?php echo round(( $data->abandon * 100 ) / $divTotal);?>%</span></label></td>
                            <td class="text-center"><label class="btn btn-danger btn-lg"><?php echo $data->timeout;?> <span class="badge"><?php echo round(( $data->timeout * 100 ) / $divTotal);?>%</span></label></td>

                            <td class="text-center"><label class="btn btn-primary btn-lg"><?php echo $data->transfer;?> <span class="badge"><?php echo round(( $data->transfer * 100 ) / $divAnswered);?>%</span></label></td>
                            <td class="text-center"><label class="btn btn-success btn-lg"><?php echo $data->agent;?> <span class="badge"><?php echo round(( $data->agent * 100 ) / $divAnswered);?>%</span></label></td>
                            <td class="text-center"><label class="btn btn-warning btn-lg"><?php echo $data->caller;?> <span class="badge"><?php echo round(( $data->caller * 100 ) / $divAnswered);?>%</span></label></td>
                            <td class="text-center"><label class="btn btn-primary btn-lg"><?php echo QueueManager_Functions::fmt_Time(ceil($data->holdtime / $divTotal));?></label></td>
                            <td class="text-center"><label class="btn btn-primary btn-lg"><?php echo QueueManager_Functions::fmt_Time(ceil($data->talktime / $divAnswered));?></label></td>
                            <td class="text-center"><label class="btn btn-primary btn-lg"><?php echo QueueManager_Functions::fmt_Time(ceil($data->duration / $divTotal));?></label></td>
                        </tr>
                    <tbody>
                    </table>

                    <br>
                    <!-- Graphics -->
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h3 class="panel-title"><?php echo $this->translate("Graphics");?></h3>
                        </div>
                        <div class="panel-body">

                            <div class="col-sm-6">
                                <?php $graphic3 = 'piechart_'.$queue; ?>
                                <div id="<?php echo $graphic3; ?>"></div>
                                <div id="piechart"></div>
                            </div>

                            <div class="col-sm-6">
                                <?php $graphic2 = 'columnchart_'.$queue; ?>
                                <div id="<?php echo $graphic2; ?>"></div>
                            </div>

                            <div class="col-sm-12">
                                <?php $graphic1 = 'chart_call_'.$queue; ?>
                                <div id="<?php echo $graphic1; ?>"></div>
                            </div><br>
                        </div>
                    </div>

                    <script type="text/javascript">
                    google.charts.load('visualization', '1.0', {'packages':['corechart']});

                    // Chart Status by day
                    google.charts.setOnLoadCallback(statusChart);
                    function statusChart() {

                        <?php
                        $values = array();

                        foreach($data->graphics as $date => $graphic){

                            array_push($values, array("period" => $date, "abandon" => $graphic->abandon, "timeout" => $graphic->timeout, "answered" => $graphic->answered));
                        }

                        $countArrayLength = count($values);
                        ?>

                        var dados = new google.visualization.DataTable();
                        dados.addColumn('string', '<?php echo $this->translate("Date"); ?>');
                        dados.addColumn('number', '<?php echo $this->translate("Abandoned"); ?>');
                        dados.addColumn('number', '<?php echo $this->translate("Limit Time"); ?>');
                        dados.addColumn('number', '<?php echo $this->translate("Answered"); ?>');

                        dados.addRows([
                        <?php
                        for($i=0;$i<$countArrayLength;$i++){
                            echo "['" . substr($values[$i]['period'],0,5) . "'," . $values[$i]['abandon'] . "," . $values[$i]['timeout'] . "," . $values[$i]['answered'] . "],";
                        }?>
                        ]);

                        var options = {
                          title: '<?php echo $this->translate("Status of calls per day"); ?>',
                          colors:['#f0ad4e','#d43f3a','#4cae4c'],
                          legend: {position: 'bottom'},
                          vAxis: {
                            minValue: 0,
                            format: '##',
                            title: "<?php echo $this->translate("Quantity"); ?>"
                        }
                        };

                        var chartName = 'chart_call_'+'<?php echo $queue; ?>';
                        var chart = new google.visualization.AreaChart(document.getElementById(chartName));
                        chart.draw(dados, options);

                    }

                    google.charts.setOnLoadCallback(totalHourChart);
                    function totalHourChart() {

                        <?php
                        $graphics2 = array();

                        foreach($data->totalhours as $hour => $graph){
                            array_push($graphics2, array("hour" => $hour, "value" => $graph));
                        }
                        $count = count($graphics2);

                        ?>

                        var data = new google.visualization.DataTable();
                        data.addColumn('string', '<?php echo $this->translate("Hour"); ?>');
                        data.addColumn('number', '<?php echo $this->translate("Calls per Hour"); ?>');

                        data.addRows([
                            <?php
                            for($i=0;$i<$count;$i++){
                                echo "['" . $graphics2[$i]['hour'] . "'," . $graphics2[$i]['value'] . "],";
                            }?>
                        ]);

                        var options = {
                            title: "<?php echo $this->translate("Peak connection Queued Hourly"); ?>",
                            legend: 'none',
                            hAxis: {
                                title: "<?php echo $this->translate("Time of Day"); ?>",
                                form: 'h'
                            },
                            vAxis: {
                                title: "<?php echo $this->translate("Quantity"); ?>",
                                format: '##'
                            },
                            colors: ['#E2623D'],
                          };

                        var chartName2 = 'columnchart_'+'<?php echo $queue; ?>';
                        var chartC = new google.visualization.ColumnChart(document.getElementById(chartName2));
                        chartC.draw(data, options);
                    }

                    google.charts.setOnLoadCallback(pieStatusChart);
                    function pieStatusChart() {

                        var pie = google.visualization.arrayToDataTable([
                          ['<?php echo $this->translate("Status"); ?>', '<?php echo $this->translate("Quantity"); ?>'],
                          ['<?php echo $this->translate("Answered"); ?>', <?php echo $data->answered;?>],
                          ['<?php echo $this->translate("Abandoned"); ?>', <?php echo $data->abandon;?>],
                          ['<?php echo $this->translate("Limit Time"); ?>', <?php echo $data->timeout;?>]
                        ]);

                        var options = {
                          title: '<?php echo $this->translate("Status by Calls"); ?>',
                          colors:['#4cae4c','#f0ad4e','#d43f3a'],
                        };

                        var chartName3 = 'piechart_'+'<?php echo $queue; ?>';
                        var chartP = new google.visualization.PieChart(document.getElementById(chartName3));

                        chartP.draw(pie, options);
                      }

                    </script>

                    <br>
                    <div class="col-md-12">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading ip-status">
                                    <h4>
                                        <a data-toggle="collapse" data-parent="#accordion" href="<?php echo "#collapse".$queue?>">
                                            <button type="button" class="boxadd add_field" id="queue" style="background-color:transparent !important;">
                                                <?php echo "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;".$this->translate("Partial") ?>
                                            </button>
                                        </a>
                                    </h4>
                                </div>
                                <div id="<?php echo "collapse".$queue?>" class="panel-collapse collapse ip-status"  style="background-color: #fff !important">
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <?php foreach($data->parciais as $date => $val): ?>
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr class="header_table_info">
                                                            <th colspan="2" class="text-center"><label class="label-add"><?php echo $this->translate("Date: ") .$date?></label></th>
                                                        </tr>
                                                        <tr>
                                                            <th class="text-center"><label class="btn btn-primary btn-lg"><?php echo $this->translate("Hour") ?></label></th>
                                                            <th class="text-center"><label class="btn btn-add btn-lg"><?php echo $this->translate("Total") ?></label></th>
                                                            <th class="text-center"><label class="btn btn-success btn-lg"><?php echo $this->translate("Answered")?></label></th>
                                                            <th class="text-center"><label class="btn btn-warning btn-lg"><?php echo $this->translate("Abandoned")?></label></th>
                                                            <th class="text-center"><label class="btn btn-danger btn-lg"><?php echo $this->translate("Limit Time")?></label></th>
                                                            <th class="text-center"><label class="btn btn-primary btn-lg"><?php echo $this->translate("TME") ?></label></th>
                                                            <th class="text-center"><label class="btn btn-primary btn-lg"><?php echo $this->translate("TMA") ?></label></th>
                                                            <th class="text-center"><label class="btn btn-primary btn-lg"><?php echo $this->translate("TMC") ?></label></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <?php foreach($val as $hour => $res): ?>
                                                            <?php //Zend_Debug::Dump($res);exit; ?>
                                                            <?php if($hour != 'max'): ?>
                                                                <?php $resTotal = (isset($res->total) ? $res->total : 1 ); ?>
                                                                <?php  //treatment division by zero
                                                                    if(!isset($res->answered) || $res->answered==0){
                                                                        $resAnswered = 1;
                                                                    }else{
                                                                        $resAnswered = $res->answered;
                                                                    } ?>
                                                                <tr>
                                                                    <td class="text-center"><?php echo $hour.":00";?></td>
                                                                    <?php if($res->total == $val->max){ ?>
                                                                        <td class="text-center"><label class="label label-danger"><?php echo $res->total;?></label></td>
                                                                    <?php }else{ ?>
                                                                        <td class="text-center"><?php echo $res->total;?></td>
                                                                    <?php } ?>
                                                                    <td class="text-center"><?php echo $res->answered;?> (<?php echo round(( $res->answered * 100 ) / $resTotal);?>%)</td>

                                                                    <td class="text-center"><?php echo $res->abandon;?> (<?php echo round(( $res->abandon * 100 ) / $resTotal);?>%)</td>

                                                                    <td class="text-center"><?php echo $res->timeout;?> (<?php echo round(( $res->timeout * 100 ) / $resTotal);?>%)</td>

                                                                    <td class="text-center"><?php echo QueueManager_Functions::fmt_Time(ceil($res->holdtime / $resTotal));?></td>
                                                                    <td class="text-center"><?php echo QueueManager_Functions::fmt_Time(ceil($res->talktime / $resAnswered));?></td>
                                                                    <td class="text-center"><?php echo QueueManager_Functions::fmt_Time(ceil($res->duration / $resTotal));?></td>
                                                                </tr>
                                                            <?php endif; ?>
                                                        <?php endforeach; ?>
                                                    </tbody>
                                                </table>
                                            <?php endforeach; ?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                <?php } ?>

                </div>
                <?php endforeach; ?>

            </div>
        <!-- end syntetic type -->
        <?php }else{?> <!-- analytic type -->

            <ul class="nav nav-tabs nav-justified">

                <?php foreach($this->data as $queue => $call): ?>
                    <?php if($queue == $this->queueInit){ ?>
                        <li class="active"><a data-toggle="tab" href="#<?php echo $queue; ?>"><?php echo $queue; ?></a></li>
                    <?php }else{ ?>
                        <li><a data-toggle="tab" href="#<?php echo $queue; ?>"><?php echo $queue; ?></a></li>
                    <?php } ?>
                <?php endforeach; ?>
            </ul>

            <div class="tab-content">
            <?php foreach($this->data as $queue => $call): ?>
                <?php if($queue == $this->queueInit){ ?>
                    <div id="<?php echo $queue; ?>" class="tab-pane fade in active">
                <?php }else{ ?>
                    <div id="<?php echo $queue; ?>" class="tab-pane fade">
                <?php } ?>
                <br>

                <?php if(!$call){?>
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <?php echo $this->translate("No data from the queue at this time.") ?>
                        </div>
                    </div>
                <?php }else{ ?>

                    <div class="input-group pull-right">
                        <button type="submit" class="btn btn-default glyphicon glyphicon-export" name="showcsv" value="showcsv"><?php echo $this->translate(" Export to CSV");?></button>
                    </div>
                    <hr>

                    <table class="table table-hover">
                        <thead>
                            <tr class="header_table_info">
                                <th class="text-center"><?php echo $this->translate("Date") ?></th>
                                <th class="text-center"><?php echo $this->translate("Queue") ?></th>
                                <th class="text-center"><?php echo $this->translate("Channel") ?></th>
                                <th class="text-center"><?php echo $this->translate("Origin") ?></th>
                                <th class="text-center"><?php echo $this->translate("Time") ?></th>
                                <th class="text-center"><?php echo $this->translate("Event") ?></th>
                            </tr>
                        </thead>
                        <?php foreach($call as $x => $value): ?>
                            <tbody>
                                <tr>
                                    <td class="text-center"><?php echo $value->header->calldate; ?></td>
                                    <td class="text-center"><?php echo $value->header->queue; ?></td>
                                    <td class="text-center"><?php echo '-' ?></td>
                                    <td class="text-center"><?php echo $value->header->from; ?></td>
                                    <td class="text-center"><?php echo $value->header->holdtime; ?></td>
                                    <td class="text-center"><h4><span class="label label-primary"><?php echo  $this->translate($value->header->firstevent); ?></span></h4></td>
                                </tr>

                                <?php if(isset($value->callflow)):?>
                                    <?php foreach($value->callflow as $y => $callflow):?>
                                        <tr>
                                            <td class="text-center"><?php echo $callflow->eventdate; ?></td>
                                            <td class="text-center"><?php echo (isset($callflow->queue)) ? $callflow->queue : "-"; ?></td>
                                            <td class="text-center"><?php echo (isset($callflow->name)) ? $callflow->name : "-"; ?></td>
                                            <td class="text-center"><?php echo "-" ?></td>
                                            <td class="text-center"><?php echo (isset($callflow->holdtime)) ? $callflow->holdtime : "-"; ?></td>
                                            <td class="text-center"><h4><span class="<?php echo $callflow->class; ?>"><?php echo $this->translate($callflow->event); ?></span></h4></td>
                                        </tr>
                                    <?php endforeach;?>
                                <?php endif;?>
                            <!-- last event -->

                            <tr>
                                <td colspan="6" bgcolor="#d7d7d7">
                                    <div>
                                        <span class="glyphicon glyphicon-time"></span>
                                        <?php if(isset($value->footer->timeWaiting)){ ?>
                                            <strong>
                                                <?php echo $this->translate('Lead time:') ?>
                                            </strong> <?php echo $value->footer->timeWaiting; ?>
                                        <?php } ?>

                                        <?php if(isset($value->footer->talktime)){ ?>
                                            <strong>
                                                <?php echo $this->translate('Talk Time:') ?>
                                            </strong> <?php echo $value->footer->talktime; ?>
                                        <?php } ?>
                                        <strong> <?php echo $this->translate('Call Time:') ?> </strong> <?php echo $value->footer->duration; ?>

                                        <?php if(isset($value->footer->talktime)){ ?>

                                            <!--<div class="pull-right">
                                                <strong>
                                                    <a href="<?php //echo $value->footer->record;?>" <!--class = "btn btn-link" target="_blank class="btn btn-info" role="button"><span class="glyphicon glyphicon-bullhorn"></span></a>
                                                </strong>
                                            </div>-->
                                        <?php } ?>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        <?php endforeach; ?>
                    </table>
                <?php } ?>
                <br>
            </div>
            <?php endforeach; ?>
            </div>
        <?php } ?> <!-- / end analytic type | init totalization-->

    <?php endif;?>
    </form>

</div>

<script type="text/javascript">

jQuery.noConflict();

// Changle the icon of panel titles when clicked
var allModules = "<?php echo $this->allQueues ?>";
jQuery(allModules).click(function() {

    // Toggle clicked element
    if(jQuery(this).hasClass('add_field')) {
        jQuery(this).removeClass('boxadd add_field').addClass('boxremove del_field') ;
    } else {
        jQuery(this).removeClass('boxremove del_field').addClass('boxadd add_field') ;
    }
    // Togle other elements
    var sel=jQuery(this).attr('id') ;
    var arr = [allModules] ;
    var list = arr.splice(arr.indexOf(sel),1);
    jQuery.each(arr,function(index,value){
        var pid = jQuery('#'+value).parent().attr('href') ;
        var flag = false ;
        if (jQuery(pid).hasClass('in')) {
            flag = true ;
        }
        if(flag) {
            if (jQuery('#'+value).hasClass('del_field')) {
                jQuery('#'+value).removeClass('boxremove del_field').addClass('boxadd add_field') ;
            } else {
                jQuery('#'+value).removeClass('boxadd add_field').addClass('boxremove del_field') ;
            }
        }
    });
});


jQuery(function () {
    jQuery('#from,#to').datetimepicker({
        locale: "<?php echo $this->datepicker_locale; ?>",
        sideBySide: true,
        showClear: true,
        showClose: true,
        format: 'DD/MM/YYYY'
    });

    jQuery("#from").on("dp.change",function (e) {
        jQuery('#to').data("DateTimePicker").minDate(e.date);
    });

    jQuery("#to").on("dp.change",function (e) {
        jQuery('#from').data("DateTimePicker").maxDate(e.date);
    });

    jQuery('#defaultForm').validate({
        rules: {
            "queues[]": {
                required: true
            },
            from:{
                required: true
            },
            to:{
                required: true
            }
        },
        messages: {
            "queues[]": {
                required: "<?php echo $this->translate('The queue is required'); ?>",
            },
            from: {
                required: "<?php echo $this->translate('The initial date is required'); ?>"
            },
            to: {
                required: "<?php echo $this->translate('The final date is required'); ?>"
            }
        },
        highlight: function(element) {
            jQuery(element).closest('.control-group').removeClass('success').addClass('error');
        },
        success: function(element) {
            element
            .text('OK!').addClass('valid')
            .closest('.control-group').removeClass('error').addClass('success');
        }
    });
});

// show forms options for type report
function showPeriod(div){

    if (div == 'rangedate') {
        document.getElementById('rangedate').className = "visible";
    }else{
        document.getElementById("rangedate").className = "invisible";
    }

}

// show options form
function showDiv(div){

    document.getElementById("analytic").className = "invisible";

    if (div == 'analytic') {
        document.getElementById('analytic').className = "visible";
    }else{
        document.getElementById("analytic").className = "invisible";
    }

}

// show queues or groups
function showOption(option){

    if(option == 'group'){
        document.getElementById("queue").className = "invisible";
        document.getElementById("group").className = "visible";
    }

    if(option == 'queue'){
        document.getElementById("group").className = "invisible";
        document.getElementById("queue").className = "visible";
    }
}

</script>
