<?php
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/bootstrap-datetimepicker.css" );
?>

<script src="/snep/includes/javascript/password.js"></script>
<script src="/snep/includes/javascript/moment-with-locales.min.js" type="text/javascript" ></script>
<script src="/snep/includes/javascript/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<div class="row">
    <form id="defaultForm" method="post" class="form-horizontal" action="<?php echo $this->url(array("module" => "snep-q-manager", "controller" => "operators", "action" => "edit"), null, false); ?>" METHOD="post">

        <div class="form-group">
            <label class="col-sm-2 control-label"><?php echo $this->translate("Code");?></label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="code" placeholder='<?php echo $this->translate("Only Numbers")?>' value="<?php echo $this->agent[0]->agent; ?>" readonly />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"><?php echo $this->translate("Name");?></label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="name" placeholder='<?php echo $this->translate("Name")?>' value="<?php echo $this->agent[0]->name; ?>" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"><?php echo $this->translate("Password");?></label>
            <div class="col-sm-5">
                <input type="password" class="form-control" name="secret" id="secret" placeholder='<?php echo $this->translate("Only Numbers")?>' value="<?php echo $this->agent[0]->secret; ?>" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"><?php echo $this->translate("Email");?></label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="email" placeholder='<?php echo $this->translate("Email")?>' value="<?php echo $this->agent[0]->email; ?>"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"><?php echo $this->translate("Habilitar Ramal Fixo");?></label>
            <div class="col-sm-3">
                <input type="checkbox" name="peer_fixed" <?php echo $this->peer_fixed;?> >
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"><?php echo $this->translate("Login Hour");?></label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="start" id="start" placeholder='<?php echo $this->translate("Time of the beginning of the workday")?>' value="<?php echo $this->agent[0]->worktime->start; ?>"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"><?php echo $this->translate("Logoff Hour");?></label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="end" id="end" placeholder='<?php echo $this->translate("Time the end of the workday")?>' value="<?php echo $this->agent[0]->worktime->end; ?>"/>
            </div>
        </div>

        <table id="tableExpr" class="order-list table">
            <tbody>
                <?php
                    $number=count($this->agent[0]->queues);
                    foreach($this->agent[0]->queues as $x => $priority){ ?>
                        <tr>
                            <td class="text-right col-sm-2">
                                <label class="control-label"><?php echo $this->translate("Queue");?></label>
                            </td>
                            <td class="text-right control-label col-sm-2">
                                <select class="form-control" name="queuebox[]" required ?>">
                                    <?php foreach($this->queues as $key => $queue){ ?>
                                        <?php if($x == $queue['name']){ ?>
                                            <option value="<?php echo $queue['name'];?>" selected><?php echo $queue['name'];?></option>
                                        <?php }else{ ?>
                                            <option value="<?php echo $queue['name'];?>"><?php echo $queue['name'];?></option>
                                        <?php } ?>
                                    <?php } ?>
                                </select>
                            </td>
                            <td class="text-right col-sm-1">
                                <label class="control-label"><?php echo $this->translate("Priority");?></label>
                            </td>
                            <td class="text-right control-label col-sm-1">
                                <select class="form-control" name="prioritybox[]" required ?>">
                                    <?php for($i = 0;$i<5;$i++){ ?>
                                        <?php if($priority->penalty == $i){ ?>
                                            <option value="<?php echo $i;?>" selected><?php echo $i;?></option>
                                        <?php }else{ ?>
                                            <option value="<?php echo $i;?>"><?php echo $i;?></option>
                                        <?php } ?>
                                    <?php } ?>
                                </select>
                            </td>

                            <?php if ($x === 0 && $number === 1) { ?>
                                <td>
                                    <button type="button" class="boxadd add_field"></button>
                                    <button type="button" class="boxremove del_field" style="display: none;"></button>
                                </td>
                            <?php } elseif (($x+1) === $number) { ?>
                                <td>
                                    <button type="button" class="boxadd add_field"></button>
                                    <button type="button" class="boxremove del_field"></button>
                                </td>
                            <?php } else { ?>
                                <td><button type="button" class="boxadd add_field" style="display: none;"></button>
                                    <button type="button" class="boxremove del_field"></button>
                                </td>
                            <?php } ?>

                        </tr>
                    <?php }
                ?>
            </tbody>
        </table>


        <div class="snep-body-footer-buttons">
            <button type="submit" class="btn btn-add" name="signup" value="Sign up"><?php echo $this->translate("Save");?></button>
            &nbsp;&nbsp;&nbsp;
        	<a class="btn btn-outline btn-add" href="javascript:window.history.go(-1)" role="button"><?php echo $this->translate("Cancel")?></a>
        </div>
    </form>
</div>

<script type="text/javascript">

jQuery.noConflict();

// Add lines
jQuery("table.order-list").on("click",".add_field", function(e){ //user click on remove text
    //e.preventDefault();

    jQuery(".add_field").hide(); // Hide ADD buton
    jQuery(".del_field").show();

    // Mount new line
    var newRow = jQuery("<tr>");
    var cols = "";
    cols += '<td class="text-right col-sm-2">';
    cols += '<label class="control-label"><?php echo $this->translate("Queue");?></label></td>';
    cols += '<td class="text-right control-label col-sm-2">';
    cols += '<select class="form-control" name="queuebox[]" required ?>">';
    cols += '<?php foreach($this->queues as $key => $queue){ ?>';
    cols += '<option value="<?php echo $queue['name'];?>"><?php echo $queue['name'];?></option>';
    cols += '<?php } ?>';
    cols += '</select></td>';
    cols += '<td class="text-right col-sm-1">';
    cols += '<label class="control-label"><?php echo $this->translate("Priority");?></label></td>';
    cols += '<td class="text-right control-label col-sm-1">';
    cols += '<select class="form-control" name="prioritybox[]" required ?>">';
    cols += '<?php for($i = 0;$i<5;$i++){ ?>';
    cols += '<option value="<?php echo $i;?>"><?php echo $i;?></option>';
    cols += '<?php } ?>';
    cols += '</select></td>';
    cols += '<td><button type="button" class="boxadd add_field"></button>';
    cols += '<button type="button" class="boxremove del_field" /></button></td>';
    newRow.append(cols);
    jQuery("table.order-list").append(newRow);

});
// Remove lines
jQuery("table.order-list").on("click",".del_field", function(e){ //user click on remove text
    //e.preventDefault();
    jQuery(this).closest("tr").remove();
    jQuery('#tableExpr tr:last').find(".add_field").show();
    if (jQuery("#tableExpr tr").length == 1) {
        jQuery('#tableExpr tr:last').find(".del_field").hide();
    }

});

jQuery(function() {

    jQuery('#start,#end').datetimepicker({
        locale: "<?php echo $this->datepicker_locale; ?>",
        sideBySide: true,
        showClear: true,
        format: 'HH:mm',
        showClose: true,
        useCurrent:false
    });

    jQuery("#start").on("dp.change",function (e) {
        jQuery('#end').data("DateTimePicker").minDate(e.date);
    });

    jQuery("#end").on("dp.change",function (e) {
        jQuery('#start').data("DateTimePicker").maxDate(e.date);
    });

    jQuery('#password').password().on('show.bs.password', function(e) {

        jQuery('#methods').prop('checked', true);

        }).on('hide.bs.password', function(e) {
            jQuery('#methods').prop('checked', false);
        });
        jQuery('#methods').click(function() {
            jQuery('#password').password('toggle');
        });
    });

jQuery(document).ready(function(){
    jQuery('#defaultForm').validate({
        rules: {
            code: {
                numbersOnly: true,
                required: true,
                minlength: 3,
                maxlength: 6
            },
            name: {
                required: true,
                minlength: 4,
                maxlength: 20
            },
            password: {
                numbersOnly: true,
                required: true,
                minlength: 4
            },
            email: {
                email: true
            },
            worktime: {
                required: true
            }
        },
        messages: {
            code: {
                required: "<?php echo $this->translate('The code is required'); ?>",
                minlength: "<?php echo $this->translate('Please enter at least {0} characters.'); ?>",
                maxlength: "<?php echo $this->translate('Please enter no more than {0} characters.'); ?>",
                numbersOnly: "<?php echo $this->translate('Numbers only please'); ?>"
            },
            name: {
                required: "<?php echo $this->translate('The name is required'); ?>",
                minlength: "<?php echo $this->translate('Please enter at least {0} characters.'); ?>",
                maxlength: "<?php echo $this->translate('Please enter no more than {0} characters.'); ?>"
            },
            password: {
                required: "<?php echo $this->translate('The password is required'); ?>",
                minlength: "<?php echo $this->translate('Please enter at least {0} characters.'); ?>",
                numbersOnly: "<?php echo $this->translate('Numbers only please'); ?>"
            },
            email: {
                email: "<?php echo $this->translate('Your email address must be in the format of name@domain.com'); ?>"
            },
            start: {
                required: "<?php echo $this->translate('The initial journey is required'); ?>"
            },
            end: {
                required: "<?php echo $this->translate('The final journey is required'); ?>"
            }
        },
        highlight: function(element) {
            jQuery(element).closest('.control-group').removeClass('success').addClass('error');
        },
        success: function(element) {
            element
            .text('OK!').addClass('valid')
            .closest('.control-group').removeClass('error').addClass('success');
        }
    });
});

</script>
