<?php
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/bootstrap-datetimepicker.css" );
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/bootstrap.min.css" );
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/bootstrap-select.css" );
$this->headLink()->appendStylesheet( $this->baseUrl() . "/modules/snep-q-manager/css/style.css" );
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/footable/footable.core.css" );
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/footable/footable-demos.css" );
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/footable/bootstrap-glyphicons.css" );
?>
<script src="/snep/includes/javascript/moment-with-locales.min.js" type="text/javascript" ></script>
<script src="/snep/includes/javascript/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/bootstrap-select.js"></script>
<script src="/snep/includes/javascript/footable/footable.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/footable.sort.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/footable.filter.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/footable.paginate.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/bootstrap-tab.js" type="text/javascript"></script>

<div class="row">
    <div class="tab-content">
        <div class="tab-pane active" id="demo">
            <?php if($this->key){ ?>
                <div class="snep-body-top-buttons">
                    <div class="snep-body-search">
                        <?php if($this->key){
                            echo "";
                            ?>
                            <a class='sn-dash-add' href="<?php echo $this->baseUrl ?>/default/index/index?dashboard_add=<?php echo $this->key ?>" title="<?php echo $this->translate('Add to dashboard');?>"></a>
                        <?php } ?>
                    </div>
                </div>
            <?php } ?>
        </div>
    </div>

    <form role="form" class="form-horizontal" id="defaultForm" action="<?php echo $this->url(array("module" => "snep-q-manager", "controller" => "operator-report", "action" => "index"), null, true); ?>" METHOD="post">

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title"><?php echo $this->translate("Filters");?></h3>
            </div>

            <div class="panel-body">

                <div class="form-group">

                    <div class="col-sm-3">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="sn-etiqueta"></span><?php echo $this->translate(" Period");?></span>
                            <select class="form-control" name="period" id="period" onChange="showPeriod(this.value);">
                                <option value="today" <?php echo $this->today;?>><?php echo $this->translate("Today");?></option>
                                <option value="last7days" <?php echo $this->last7days;?> ><?php echo $this->translate("Last 7 days");?></option>
                                <option value="last15days" <?php echo $this->last15days;?> ><?php echo $this->translate("Last 15 days");?></option>
                                <option value="last30days" <?php echo $this->last30days;?> ><?php echo $this->translate("Last 30 days");?></option>
                                <option value="rangedate" <?php echo $this->rangedate;?> ><?php echo $this->translate("Specific date");?></option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-7">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="sn-grupo-ramais"></span><?php echo $this->translate(" Operator");?></span>
                            <select class="form-control selectpicker" multiple data-actions-box="true" data-live-search="true" name="operator[]" id="operator[]" data-width="50%" data-size="25">
                                <?php foreach($this->agents as $agent){ ?>
                                    <?php if(isset($agent->selected)){ ?>
                                        <option value="<?php echo $agent->agent;?>" selected><?php echo $agent->agent;?></option>
                                    <?php }else{ ?>
                                        <option value="<?php echo $agent->agent;?>" ><?php echo $agent->agent;?></option>
                                    <?php }?>
                                <?php }?>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-2 pull-right">
                        <div class="input-group">
                            <button type="submit" class="btn btn-add" name="showreport" value="showreport"><?php echo $this->translate("View Data");?></button>
                        </div>
                    </div>

                </div>

                <div class="form-group">



                    <div id="rangedate" class="<?php echo $this->classRangeDate ?>">
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span><?php echo $this->translate(" Initial Date");?></span>
                                <div class='input-group'>
                                    <input type='text' class="snep-datetimepicker form-control" id='from' name="from" placeholder="<?php echo $this->translate("Initial Date");?>" value="<?php echo $this->from; ?>" />
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span><?php echo $this->translate(" Final Date");?></span>
                                <div class='input-group'>
                                    <input type='text' class="snep-datetimepicker form-control" id='to' name="to" placeholder="<?php echo $this->translate("Final Date");?>" value="<?php echo $this->to; ?>" />
                                </div>
                            </div>
                        </div>
                    </div>



                </div>

            </div>
        </div>

        <!-- report data -->
        <?php if(isset($this->data)):?>

            <ul class="nav nav-tabs nav-justified">
                <?php foreach($this->data as $agent => $data): ?>
                    <?php if($agent == $this->agentInit){ ?>
                        <li class="active"><a data-toggle="tab" href="#<?php echo $agent; ?>"><?php echo $agent; ?></a></li>
                    <?php }else{ ?>
                        <li><a data-toggle="tab" href="#<?php echo $agent; ?>"><?php echo $agent; ?></a></li>
                    <?php } ?>
                <?php endforeach; ?>
            </ul>

            <div class="tab-content">
                <?php foreach($this->data as $agent => $data): ?>
                    <?php if($agent == $this->agentInit){ ?>
                        <div id="<?php echo $agent; ?>" class="tab-pane fade in active">
                    <?php }else{ ?>
                        <div id="<?php echo $agent; ?>" class="tab-pane fade">
                    <?php } ?>
                        <br>

                    <?php if(!$data){?>
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <?php echo $this->translate("No data from the operator at this time.") ?>
                            </div>
                        </div>
                    <?php }else{ ?>

                        <?php if(isset($data->total)): ?>

                            <div class="input-group pull-right">
                                <label class="btn btn-default glyphicon glyphicon-calendar" disabled>&nbsp;<?php echo $this->data_init ." - " .$this->data_end; ?></label>&nbsp;
                                <button type="submit" class="btn btn-add glyphicon glyphicon-export" name="showcsv" value="showcsv"><?php echo $this->translate(" Export to CSV");?></button>
                            </div>
                            <hr>
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="header_table">
                                        <th class="text-center" data-sort-ignore="true"><?php echo $this->translate("Type") ?></th>
                                        <th class="text-center" data-sort-ignore="true"><?php echo $this->translate("Total") ?></th>
                                        <th class="text-center" data-sort-ignore="true"><?php echo $this->translate("Answered") ?></th>
                                        <th class="text-center" data-sort-ignore="true"><?php echo $this->translate("Noanswer") ?></th>
                                        <th class="text-center" data-sort-ignore="true"><?php echo $this->translate("TME") ?></th>
                                        <th class="text-center" data-sort-ignore="true"><?php echo $this->translate("TMA") ?></th>
                                        <th class="text-center" data-sort-ignore="true"><?php echo $this->translate("TMC") ?></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <!-- -outgoing -->
                                    <?php if(isset($data->total->outgoing)):
                                        $divTotalOut = ( isset($data->total->outgoing->total) ? $data->total->outgoing->total : 1 );
                                        $divAnswerOut = ( isset($data->total->outgoing->answer) ? $data->total->outgoing->answer : 1 ); ?>
                                    <tr>
                                        <td class="text-center"><label class="btn btn-danger btn-lg"><?php echo $this->translate("Originated") ?></label></td>
                                        <td class="text-center"><label class="btn btn-add btn-lg"><?php echo $data->total->outgoing->total;?></label></td>
                                        <td class="text-center"><label class="btn btn-success btn-lg"><?php echo (isset($data->total->outgoing->answer)) ? $data->total->outgoing->answer: 0 ;?>
                                            <span class="badge"><?php echo (isset($data->total->outgoing->answer)) ? round(( $data->total->outgoing->answer * 100 ) / $divTotalOut) : 0 ; ?>%</span></label>
                                        </td>
                                        <td class="text-center"><label class="btn btn-danger btn-lg"><?php echo (isset($data->total->outgoing->noanswer)) ? $data->total->outgoing->noanswer: 0 ;?>
                                            <span class="badge"><?php echo (isset($data->total->outgoing->noanswer)) ? round(( $data->total->outgoing->noanswer * 100 ) / $divTotalOut) : 0 ; ?>%</span></label>
                                        </td>
                                        <td class="text-center"><label class="btn btn-primary btn-lg"><?php echo QueueManager_Functions::fmt_Time($data->total->outgoing->ringtime / $divTotalOut);?></label></td>
                                        <td class="text-center"><label class="btn btn-primary btn-lg"><?php echo QueueManager_Functions::fmt_Time($data->total->outgoing->talktime / $divAnswerOut);?></label></td>
                                        <td class="text-center"><label class="btn btn-primary btn-lg"><?php echo QueueManager_Functions::fmt_Time($data->total->outgoing->duration / $divTotalOut);?></label></td>
                                    </tr>
                                    <?php endif; ?>

                                    <!-- -incoming -->
                                    <?php if(isset($data->total->incoming)):
                                        $divTotalIn = ( isset($data->total->incoming->total) ? $data->total->incoming->total : 1 );
                                        $divAnswerIn = ( isset($data->total->incoming->answer) ? $data->total->incoming->answer : 1 ); ?>
                                    <tr>
                                        <td class="text-center"><label class="btn btn-success btn-lg"><?php echo $this->translate("Received") ?></label></td>
                                        <td class="text-center"><label class="btn btn-add btn-lg"><?php echo $data->total->incoming->total;?></label></td>
                                        <td class="text-center"><label class="btn btn-success btn-lg"><?php echo (isset($data->total->incoming->answer)) ? $data->total->incoming->answer: 0 ;?>
                                            <span class="badge"><?php echo (isset($data->total->incoming->answer)) ? round(( $data->total->incoming->answer * 100 ) / $divTotalIn) : 0 ; ?>%</span></label>
                                        </td>
                                        <td class="text-center"><label class="btn btn-danger btn-lg"><?php echo (isset($data->total->incoming->noanswer)) ? $data->total->incoming->noanswer: 0 ;?>
                                            <span class="badge"><?php echo (isset($data->total->incoming->noanswer)) ? round(( $data->total->incoming->noanswer * 100 ) / $divTotalIn) : 0 ; ?>%</span></label>
                                        </td>
                                        <td class="text-center"><label class="btn btn-primary btn-lg"><?php echo QueueManager_Functions::fmt_Time($data->total->incoming->ringtime / $divTotalIn);?></label></td>
                                        <td class="text-center"><label class="btn btn-primary btn-lg"><?php echo QueueManager_Functions::fmt_Time($data->total->incoming->talktime / $divAnswerIn);?></label></td>
                                        <td class="text-center"><label class="btn btn-primary btn-lg"><?php echo QueueManager_Functions::fmt_Time($data->total->incoming->duration / $divTotalIn);?></label></td>
                                    </tr>
                                    <?php endif; ?>
                                </tbody>
                            </table>
                        <?php endif; ?>

                        <?php if(isset($data->parciais)): ?>

                            <br>
                            <div class="col-md-12">
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default">
                                        <div class="panel-heading ip-status">
                                            <h4>
                                                <a data-toggle="collapse" data-parent="#accordion" href="<?php echo "#collapse".$agent?>">
                                                    <button type="button" class="boxadd add_field" id="queue" style="background-color:transparent !important;">
                                                        <?php echo "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;".$this->translate("Partial") ?>
                                                    </button>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="<?php echo "collapse".$agent?>" class="panel-collapse collapse ip-status"  style="background-color: #fff !important">
                                            <div class="panel-body">
                                                <div class="table-responsive">
                                                    <?php foreach($data->parciais as $date => $val): ?>
                                                        <table class="table table-hover">
                                                            <thead>
                                                                <tr class="header_table_info">
                                                                    <th colspan="2" class="text-center" data-sort-ignore="true"><label class="label-add"><?php echo $this->translate("Date: ") .$date?></label></th>
                                                                </tr>
                                                                <tr>
                                                                    <th class="text-center" data-sort-ignore="true"><label class="btn btn-primary btn-lg"><?php echo $this->translate("Type") ?></label></th>
                                                                    <th class="text-center" data-sort-ignore="true"><label class="btn btn-add btn-lg"><?php echo $this->translate("Total") ?></label></th>
                                                                    <th class="text-center" data-sort-ignore="true"><label class="btn btn-success btn-lg"><?php echo $this->translate("Answered") ?></label></th>
                                                                    <th class="text-center" data-sort-ignore="true"><label class="btn btn-danger btn-lg"><?php echo $this->translate("No Answer") ?></label></th>
                                                                    <th class="text-center" data-sort-ignore="true"><label class="btn btn-primary btn-lg"><?php echo $this->translate("TME") ?></label></th>
                                                                    <th class="text-center" data-sort-ignore="true"><label class="btn btn-primary btn-lg"><?php echo $this->translate("TMA") ?></label></th>
                                                                    <th class="text-center" data-sort-ignore="true"><label class="btn btn-primary btn-lg"><?php echo $this->translate("TMC") ?></label></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <!-- -outgoing -->
                                                                <?php if(isset($val->outgoing)):
                                                                    $divParcTotalOut = ( isset($val->outgoing->total) ? $val->outgoing->total : 1 );
                                                                    $divParcAnswerOut = ( isset($val->outgoing->answer) ? $val->outgoing->answer : 1 ); ?>
                                                                <tr>
                                                                    <td class="text-center"><?php echo $this->translate("Originated");?></td>
                                                                    <td class="text-center"><?php echo $val->outgoing->total; ?></td>
                                                                    <td class="text-center"><?php echo (isset($val->outgoing->answer)) ? $val->outgoing->answer ."(".round(( $val->outgoing->answer * 100 ) / $divParcTotalOut)."%)": 0 ;?></td>
                                                                    <td class="text-center"><?php echo (isset($val->outgoing->noanswer)) ? $val->outgoing->noanswer ."(".round(( $val->outgoing->noanswer * 100 ) / $divParcTotalOut)."%)": 0 ;?></td>
                                                                    <td class="text-center"><?php echo QueueManager_Functions::fmt_Time($val->outgoing->ringtime / $divParcTotalOut);?></td>
                                                                    <td class="text-center"><?php echo QueueManager_Functions::fmt_Time($val->outgoing->talktime / $divParcAnswerOut);?></td>
                                                                    <td class="text-center"><?php echo QueueManager_Functions::fmt_Time($val->outgoing->duration / $divParcTotalOut);?></td>
                                                                </tr>
                                                                <?php endif; ?>

                                                                <!-- -incoming -->
                                                                <?php if(isset($val->incoming)):
                                                                    $divParcTotalIn = ( isset($val->incoming->total) ? $val->incoming->total : 1 );
                                                                    $divParcAnswerIn = ( isset($val->incoming->answer) ? $val->incoming->answer : 1 ); ?>
                                                                <tr>
                                                                    <td class="text-center"><?php echo $this->translate("Received");?></td>
                                                                    <td class="text-center"><?php echo $val->incoming->total; ?></td>
                                                                    <td class="text-center"><?php echo (isset($val->incoming->answer)) ? $val->incoming->answer ."(".round(( $val->incoming->answer * 100 ) / $divParcTotalIn)."%)": 0 ;?></td>
                                                                    <td class="text-center"><?php echo (isset($val->incoming->noanswer)) ? $val->incoming->noanswer ."(".round(( $val->incoming->noanswer * 100 ) / $divParcTotalIn)."%)": 0 ;?></td>
                                                                    <td class="text-center"><?php echo QueueManager_Functions::fmt_Time($val->incoming->ringtime / $divParcTotalIn);?></td>
                                                                    <td class="text-center"><?php echo QueueManager_Functions::fmt_Time($val->incoming->talktime / $divParcAnswerIn);?></td>
                                                                    <td class="text-center"><?php echo QueueManager_Functions::fmt_Time($val->incoming->duration / $divParcTotalIn);?></td>
                                                                </tr>
                                                                <?php endif; ?>
                                                            </tbody>
                                                        </table>
                                                    <?php endforeach; ?>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <?php endif; ?>

                        <?php if(isset($data->analytic)): ?>

                            <br>
                            <div class="col-md-12">
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default">
                                        <div class="panel-heading ip-status">
                                            <h4>
                                                <a data-toggle="collapse" data-parent="#accordion" href="<?php echo "#collapse".$agent."analytic"?>">
                                                    <button type="button" class="boxadd add_field" id="queue" style="background-color:transparent !important;">
                                                        <?php echo "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;".$this->translate("Analytical") ?>
                                                    </button>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="<?php echo "collapse".$agent."analytic"?>" class="panel-collapse collapse ip-status"  style="background-color: #fff !important">
                                            <div class="panel-body">
                                                <div class="table-responsive">
                                                    <div class="snep-body-search">
                                                        <?php echo $this->translate("Search")?> <input id="filter" type="text"/>
                                                    </div>
                                                    <hr>
                                                    <table class="table demo table-hover" data-filter="#filter" data-page-size="<?php echo $this->lineNumber?>">
                                                        <thead>
                                                            <tr class="header_table_info">
                                                                <th class="text-center"><?php echo $this->translate("Date") ?></th>
                                                                <th class="text-center"><?php echo $this->translate("Queue") ?></th>
                                                                <th class="text-center"><?php echo $this->translate("Origin") ?></th>
                                                                <th class="text-center"><?php echo $this->translate("Destiny") ?></th>
                                                                <!--<th class="text-center"><?php //echo $this->translate("Tempo de Espera") ?><!--</th>-->
                                                                <!--<th class="text-center"><?php //echo $this->translate("Tempo de Atendimento") ?><!--</th>-->
                                                                <th class="text-center"><?php echo $this->translate("Call Time") ?></th>
                                                                <th class="text-center"><?php echo $this->translate("Event") ?></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <?php foreach($data->analytic as $x => $call): ?>
                                                                <tr>
                                                                    <td class="text-center"><?php echo $call->eventdate; ?></td>
                                                                    <td class="text-center"><?php echo $call->queue; ?></td>
                                                                    <td class="text-center"><?php echo (isset($call->from)) ? $call->from : ""; ?></td>
                                                                    <td class="text-center"><?php echo (isset($call->to)) ? $call->to : ""; ?></td>
                                                                    <!--<td class="text-center"><?php //echo $call->ringtime; ?><!--</td>-->
                                                                    <!--<td class="text-center"><?php //echo $call->talktime; ?><!--</td>-->
                                                                    <td class="text-center"><?php echo $call->duration; ?></td>
                                                                    <td class="text-center"><h4><span class="<?php echo $call->class; ?>" ><?php echo  (isset($call->status)) ? $this->translate($call->status) : ""; ?></span></h4></td>
                                                                </tr>
                                                            <?php endforeach; ?>
                                                        </tbody>
                                                        <tfoot>
                                                            <tr>
                                                                <td colspan="6">
                                                                    <div class="paging">
                                                                        <ul class="pagination"></ul>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <?php endif; ?>

                        <?php if(isset($data->feature)): ?>
                            <br>
                            <div class="col-md-12">
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default">
                                        <div class="panel-heading ip-status">
                                            <h4>
                                                <a data-toggle="collapse" data-parent="#accordion" href="<?php echo "#collapse".$agent."disp"?>">
                                                    <button type="button" class="boxadd add_field" id="queue" style="background-color:transparent !important;">
                                                        <?php echo "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;".$this->translate("Availability") ?>
                                                    </button>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="<?php echo "collapse".$agent."disp"?>" class="panel-collapse collapse ip-status"  style="background-color: #fff !important">
                                            <div class="panel-body">
                                                <div class="table-responsive">
                                                    <table class="table table-hover" data-filter="#filter" data-page-size="<?php echo $this->lineNumber?>">
                                                        <?php foreach($data->feature as $date => $feature): ?>
                                                        <thead>
                                                            <tr class="header_table_info">
                                                                <th class="text-center" data-sort-ignore="true"><label class="label-add"><?php echo $this->translate("Data: ") .$date?></label></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <?php foreach($feature as $hour => $event): ?>
                                                                        <?php if($hour != 'header'): ?>
                                                                        <div class="col-xs-6 col-md-2">
                                                                            <div class="thumbnail">
                                                                                <div class="caption">
                                                                                    <h4><?php echo $hour; ?></h4>
                                                                                    <?php if(is_object($event->queue)){ ?>
                                                                                    <p><?php foreach($event->queue as $x => $queue){
                                                                                        echo $x." ";
                                                                                    } ?></p>
                                                                                    <?php }else{ ?>
                                                                                    <p><?php echo $event->queue; ?></p>
                                                                                    <?php } ?>
                                                                                    <h4><p><span class="<?php echo $event->class; ?>" ><?php echo $event->event; ?></span></p></h4>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <?php endif; ?>
                                                                    <?php endforeach; ?>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="3" bgcolor="#d7d7d7">
                                                                    <span class="glyphicon glyphicon-time"></span>
                                                                    <strong> <?php echo $this->translate('Login of Journey:') ?></strong><?php echo $feature->header->worktimelogin;?>

                                                                    <div class="pull-right">
                                                                        <span class="glyphicon glyphicon-time"></span>
                                                                        <strong> <?php echo $this->translate('Logoff of Journey:') ?></strong><?php echo $feature->header->worktimelogoff; ?>
                                                                    </div>

                                                                    <!--<div class="pull-right">
                                                                        <strong><?php //echo $this->translate('Quantidade de Pausa:')?></strong><?php //echo (isset($feature->header->contpause)) ? $feature->header->contpause : 0 ; ?>
                                                                    <!--</div>-->
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                        <?php endforeach; ?>

                                                        <tfoot>
                                                            <tr>
                                                                <td colspan="6">
                                                                    <div class="paging">
                                                                        <ul class="pagination"></ul>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        <?php endif; ?>

                    <?php } ?> <!-- end $data -->

                    </div>
                    <?php endforeach; ?>

                </div>

        <?php endif; ?>

    </form>
</div>

<script type="text/javascript">
jQuery.noConflict();

jQuery(function () {
        jQuery('table').footable().on('click', '.row', function(e) {
            e.preventDefault();
        });
    });

// Changle the icon of panel titles when clicked
var allModules = "<?php echo $this->allAgents ?>";

// disponilidade
jQuery(allModules).click(function() {

    // Toggle clicked element
    if(jQuery(this).hasClass('add_field')) {
        jQuery(this).removeClass('boxadd add_field').addClass('boxremove del_field') ;
    } else {
        jQuery(this).removeClass('boxremove del_field').addClass('boxadd add_field') ;
    }
    // Togle other elements
    var sel=jQuery(this).attr('id') ;
    var arr = [allModules] ;
    var list = arr.splice(arr.indexOf(sel),1);
    jQuery.each(arr,function(index,value){
        var pid = jQuery('#'+value).parent().attr('href') ;
        var flag = false ;
        if (jQuery(pid).hasClass('in')) {
            flag = true ;
        }
        if(flag) {
            if (jQuery('#'+value).hasClass('del_field')) {
                jQuery('#'+value).removeClass('boxremove del_field').addClass('boxadd add_field') ;
            } else {
                jQuery('#'+value).removeClass('boxadd add_field').addClass('boxremove del_field') ;
            }
        }
    });
});

// parciais
jQuery(allModules).click(function() {

    // Toggle clicked element
    if(jQuery(this).hasClass('add_field')) {
        jQuery(this).removeClass('boxadd add_field').addClass('boxremove del_field') ;
    } else {
        jQuery(this).removeClass('boxremove del_field').addClass('boxadd add_field') ;
    }
    // Togle other elements
    var sel=jQuery(this).attr('id') ;
    var arr = [allModules] ;
    var list = arr.splice(arr.indexOf(sel),1);
    jQuery.each(arr,function(index,value){
        var pid = jQuery('#'+value+'disp').parent().attr('href') ;
        var flag = false ;
        if (jQuery(pid).hasClass('in')) {
            flag = true ;
        }
        if(flag) {
            if (jQuery('#'+value+'disp').hasClass('del_field')) {
                jQuery('#'+value+'disp').removeClass('boxremove del_field').addClass('boxadd add_field') ;
            } else {
                jQuery('#'+value+'disp').removeClass('boxadd add_field').addClass('boxremove del_field') ;
            }
        }
    });
});

// analytic
jQuery(allModules).click(function() {

    // Toggle clicked element
    if(jQuery(this).hasClass('add_field')) {
        jQuery(this).removeClass('boxadd add_field').addClass('boxremove del_field') ;
    } else {
        jQuery(this).removeClass('boxremove del_field').addClass('boxadd add_field') ;
    }
    // Togle other elements
    var sel=jQuery(this).attr('id') ;
    var arr = [allModules] ;
    var list = arr.splice(arr.indexOf(sel),1);
    jQuery.each(arr,function(index,value){
        var pid = jQuery('#'+value+"analytic").parent().attr('href') ;
        var flag = false ;
        if (jQuery(pid).hasClass('in')) {
            flag = true ;
        }
        if(flag) {
            if (jQuery('#'+value+"analytic").hasClass('del_field')) {
                jQuery('#'+value+"analytic").removeClass('boxremove del_field').addClass('boxadd add_field') ;
            } else {
                jQuery('#'+value+"analytic").removeClass('boxadd add_field').addClass('boxremove del_field') ;
            }
        }
    });
});

jQuery(function () {
    jQuery('#from,#to').datetimepicker({
        locale: "<?php echo $this->datepicker_locale; ?>",
        sideBySide: true,
        showClear: true,
        showClose: true,
        format: 'DD/MM/YYYY'
    });

    jQuery("#from").on("dp.change",function (e) {
        jQuery('#to').data("DateTimePicker").minDate(e.date);
    });

    jQuery("#to").on("dp.change",function (e) {
        jQuery('#from').data("DateTimePicker").maxDate(e.date);
    });

    jQuery('#defaultForm').validate({
        rules: {
            "operator[]": {
                required: true
            },
            from:{
                required: true
            },
            to:{
                required: true
            }
        },
        messages: {
            "operator[]": {
                required: "<?php echo $this->translate('The operator is required'); ?>",
            },
            from: {
                required: "<?php echo $this->translate('The initial date is required'); ?>"
            },
            to: {
                required: "<?php echo $this->translate('The final date is required'); ?>"
            }
        },
        highlight: function(element) {
            jQuery(element).closest('.control-group').removeClass('success').addClass('error');
        },
        success: function(element) {
            element
            .text('OK!').addClass('valid')
            .closest('.control-group').removeClass('error').addClass('success');
        }
    });
});

// show forms options for type report
function showPeriod(div){

    if (div == 'rangedate') {
        document.getElementById('rangedate').className = "visible";
    }else{
        document.getElementById("rangedate").className = "invisible";
    }

}

</script>
